<template>
  <div style="display: flex; flex-direction: row">
    <div style="flex: 1">
      <FiltersSelector
        v-if="dictionariesReady"
        :dictionaries="store.dictionaries"
        :available-dictionaries="availableDictionaries"
      />
    </div>
    <div style="flex: 3">
      <DictionariesTimeline v-if="false" :dictionaries="store.dictionaries" />
      <SearchBar v-if="dictionariesReady" @update="getEntries" />
      <p v-if="!dictionariesReady">Chargement des dictionnaires... Veuillez patienter...</p>
      <p v-if="entries" style="margin-left: 6em; margin-right: 6em">
        Résultat(s) : {{ entries.length }} entrée(s).
      </p>
      <div
        v-if="entries && !store.lastSearch.strictSearch"
        style="margin-left: 6em; margin-right: 6em"
      >
        <ul style="columns: 3">
          <li v-for="[word, count] in words" :key="word">
            <span
              v-html="
                word.replace(store.lastSearch.word, '<mark>' + store.lastSearch.word + '</mark>')
              "
            ></span>
            ({{ count }})
          </li>
        </ul>
      </div>
      <CdxField v-if="dictionariesReady" style="margin-left: 6em; margin-right: 6em">
        <CdxSelect
          v-model:selected="store.orderResults"
          :menu-items="orderingPossibilities"
          @update:selected="sortEntries()"
        />
        <template #label> <CdxIcon :icon="cdxIconFunnel" /> Ordre des résultats </template>
      </CdxField>
      <div v-if="entries">
        <div class="entries">
          <template v-for="entry in entries" :key="entry.id">
            <Suspense>
              <template #default>
                <div style="max-width: 50%">
                  <DefinitionCard
                    :entry-id="entry.id"
                    :pagename="entry.title"
                    :dictionary="entry.dictionary"
                    @go-to-word="getEntries"
                  />
                </div>
              </template>
              <template #fallback><DefinitionCardSkeleton /></template>
            </Suspense>
          </template>
        </div>
      </div>
    </div>
    <div style="flex: 1">
      <DictionariesList v-if="dictionariesReady" :available-dictionaries="availableDictionaries" />
    </div>
  </div>
</template>

<script setup>
import { CdxField, CdxIcon, CdxSelect } from '@wikimedia/codex'
import { cdxIconFunnel } from '@wikimedia/codex-icons'
import SearchBar from '../components/SearchBar.vue'
import FiltersSelector from '../components/FiltersSelector.vue'
import DictionariesTimeline from '../components/DictionariesTimeline.vue'
import DictionariesList from '../components/DictionariesList.vue'
import DefinitionCard from '../components/DefinitionCard.vue'
import DefinitionCardSkeleton from '../components/DefinitionCardSkeleton.vue'
import { computed, ref } from 'vue'
import { useDicothequeStore } from '../stores/dicotheque'
import { parseWikidataItemOfEdition } from '../scripts/dictionary'

const store = useDicothequeStore()

const orderingPossibilities = [
  { label: 'Chronologique', value: 'chronological', description: 'Du plus ancien au plus récent' },
  {
    label: 'Antéchronologique',
    value: 'antichronological',
    description: 'Du plus récent au plus ancien',
  },
]

const dictionariesReady = ref(false)

const craftFetchRequests = (mapFunction) => {
  const input = store.dictionaries.filter(mapFunction).map(mapFunction).flat()
  let urls = input
    .filter((v) => v.startsWith('Q'))
    .map((v) => 'https://www.wikidata.org/wiki/Special:EntityData/' + v + '.json')
  urls = [...new Set(urls)] // remove duplicates
  return urls.map((url) => fetch(url))
}

const applyLabels = (data) =>
  data.forEach((json) => {
    const entityId = Object.keys(json.entities)[0]
    const entity = json.entities[entityId]
    store.labels[entityId] = entity.labels.fr.value
  })

if (store.dictionaries.length === 0) {
  fetch(import.meta.env.VITE_API + '/v1/dictionaries/')
    .then((response) => response.json())
    .then((data) => {
      data.forEach((dictionary) => store.dictionaries.push(parseWikidataItemOfEdition(dictionary)))

      // Generate the filters values
      store.dictionaries.forEach((dictionary) => {
        if (dictionary.subject) {
          for (const subject of dictionary.subject) {
            if (!store.filters.subjects.some((f) => f.qid === subject)) {
              store.filters.subjects.push({
                qid: subject,
                active: true,
              })
            }
          }
        }
        if (dictionary.genre) {
          for (const genre of dictionary.genre) {
            if (!store.filters.genres.some((f) => f.qid === genre)) {
              store.filters.genres.push({
                qid: genre,
                active: true,
              })
            }
          }
        }
        if (dictionary.language) {
          for (const language of dictionary.language) {
            if (!store.filters.languages.some((f) => f.qid === language)) {
              store.filters.languages.push({
                qid: language,
                active: true,
              })
            }
          }
        }
      })

      const getLabelsForAuthors = () => Promise.all(craftFetchRequests((d) => d.authors))
      const getLabelsForPublishers = () => Promise.all(craftFetchRequests((d) => d.publishers))
      const getLabelsForPublicationPlaces = () =>
        Promise.all(craftFetchRequests((d) => d.publicationPlaces))

      getLabelsForAuthors()
        .then((responses) => Promise.all(responses.map((response) => response.json())))
        .then(applyLabels)
      getLabelsForPublishers()
        .then((responses) => Promise.all(responses.map((response) => response.json())))
        .then(applyLabels)
      getLabelsForPublicationPlaces()
        .then((responses) => Promise.all(responses.map((response) => response.json())))
        .then(applyLabels)

      // And now get labels for languages
      let requests = store.filters.languages
        .filter((f) => f.qid !== undefined)
        .map((f) => 'https://www.wikidata.org/wiki/Special:EntityData/' + f.qid + '.json')
        .map((url) => fetch(url))
      Promise.all(requests)
        .then((responses) => Promise.all(responses.map((response) => response.json())))
        .then(applyLabels)
      requests = store.filters.genres
        .filter((f) => f.qid !== undefined)
        .map((f) => 'https://www.wikidata.org/wiki/Special:EntityData/' + f.qid + '.json')
        .map((url) => fetch(url))
      Promise.all(requests)
        .then((responses) => Promise.all(responses.map((response) => response.json())))
        .then(applyLabels)
      requests = store.filters.subjects
        .filter((f) => f.qid !== undefined)
        .map((f) => 'https://www.wikidata.org/wiki/Special:EntityData/' + f.qid + '.json')
        .map((url) => fetch(url))
      Promise.all(requests)
        .then((responses) => Promise.all(responses.map((response) => response.json())))
        .then(applyLabels)

      // And sort
      store.dictionaries.sort((a, b) => a.date - b.date)
      dictionariesReady.value = true
    })
} else {
  dictionariesReady.value = true
}

const entries = ref(undefined)
const words = ref(undefined)

function sortEntries() {
  entries.value.sort((a, b) => {
    if (store.orderResults === 'chronological') {
      return a.dictionary.date - b.dictionary.date
    }
    if (store.orderResults === 'antichronological') {
      return b.dictionary.date - a.dictionary.date
    }
  })
}

const availableDictionaries = computed(() => {
  return store.dictionaries.filter((dictionary) => {
    return (
      dictionary.available &&
      (dictionary.subject.length === 0 ||
        store.activeSubjectsFilters.some((f) => dictionary.subject.indexOf(f.qid) !== -1)) &&
      (dictionary.genre.length === 0 ||
        store.activeGenresFilters.some((f) => dictionary.genre.indexOf(f.qid) !== -1)) &&
      (dictionary.language.length === 0 ||
        store.activeLanguagesFilters.some((f) => dictionary.language.indexOf(f.qid) !== -1))
    )
  })
})

async function getEntries() {
  // exit if no word is defined
  if (!store.word) {
    return
  }

  // make sure there are no trailing spaces in the word
  store.word = store.word.trim()

  entries.value = []
  words.value = new Map()
  console.log('Searching for: ' + store.word)

  fetch(import.meta.env.VITE_API + '/v1/entries/' + store.word + '/')
    .then((response) => response.json())
    .then((data) => {
      entries.value = data.map((entry) => ({
        id: entry.id,
        title: entry.page_title,
        word: entry.word,
        word_normalized: entry.word_normalized,
        dictionary: store.dictionaries.find((d) => d.id === entry.dictionary),
      }))

      if (store.strictSearch) {
        // remove entries that are not an exact match
        entries.value = entries.value.filter((entry) => {
          return entry.word.toLowerCase() === store.word.toLowerCase()
        })
      }

      // remove entries from disabled dictionaries
      entries.value = entries.value.filter((entry) => entry.dictionary.enabled)

      entries.value.forEach((entry) => {
        if (words.value.has(entry.word_normalized)) {
          words.value.set(entry.word_normalized, words.value.get(entry.word_normalized) + 1)
        } else {
          words.value.set(entry.word_normalized, 1)
        }
      })
      // and now sort the map
      words.value = new Map([...words.value.entries()].sort(([, a], [, b]) => b - a))

      sortEntries()

      store.lastSearch.word = store.word
      store.lastSearch.strictSearch = store.strictSearch
    })
}
</script>

<style>
div.entries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>
