<template>
  <div>
    <h2>Statistiques</h2>
    <h3>En résumé</h3>
    <div style="display: flex; justify-content: space-evenly">
      <StatsNumberCard label="Nombre de dictionnaires" :value="stats.dictionaries_count" />
      <StatsNumberCard label="Nombre d'entrées" :value="stats.entries_count" />
      <StatsNumberCard
        label="Nombre de graphies uniques"
        :value="stats.unique_written_forms_count"
      />
      <StatsNumberCard
        label="Nombre moyen de dictionnaires où une graphie est présente"
        :value="stats.dictionary_per_unique_written_form_average"
      />
    </div>
    <h3>Dictionnaires</h3>
    <div style="display: flex; justify-content: space-evenly">
      <table>
        <thead>
          <th>Dictionnaire</th>
          <th>Nombre d'entrées</th>
          <th>Pourcentage</th>
        </thead>
        <tr v-for="{ id, entries_count } in stats.entries_per_dictionary" :key="id">
          <td>{{ getDictionaryTitle(id) }}</td>
          <td>{{ entries_count }}</td>
          <td>{{ parseFloat((entries_count / stats.entries_count) * 100.0).toFixed(2) }} %</td>
        </tr>
      </table>
    </div>
    <h3>Entrées</h3>
    <h4>Entrées par lettre</h4>
    <CdxTabs v-model:active="activeTab">
      <CdxTab name="graph" label="Graphique">
        <Bar :data="chartData" :options="{ responsive: true }" />
      </CdxTab>
      <CdxTab name="table" label="Tableau">
        <table>
          <thead>
            <th>Lettre</th>
            <th>Nombre d'entrées</th>
            <th>Pourcentage</th>
          </thead>
          <tr v-for="(entries_count, letter) in stats.entries_per_starting_letter" :key="letter">
            <td>{{ letter }}</td>
            <td>{{ entries_count }}</td>
            <td>{{ parseFloat((entries_count / stats.entries_count) * 100.0).toFixed(2) }} %</td>
          </tr>
          <tr>
            <td>Autres</td>
            <td>TODO</td>
            <td>TODO</td>
          </tr>
        </table>
      </CdxTab>
    </CdxTabs>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import StatsNumberCard from '../components/StatsNumberCard.vue'
import { useDicothequeStore } from '../stores/dicotheque'
import { CdxTabs, CdxTab } from '@wikimedia/codex'
import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

const store = useDicothequeStore()
const stats = ref({})
const chartData = ref(undefined)
const activeTab = ref('graph')

await fetch(import.meta.env.VITE_API + '/v1/stats/')
  .then((response) => response.json())
  .then((data) => {
    stats.value = data

    const letters = Object.keys(data.entries_per_starting_letter)
    letters.push('Autres')
    const values = Object.values(data.entries_per_starting_letter)
    values.push(data.entries_count - values.reduce((a, b) => a + b, 0))

    chartData.value = {
      labels: letters,
      datasets: [
        {
          label: 'Entrées par lettre',
          data: values,
          backgroundColor: '#f87979',
        },
      ],
    }
  })

function getDictionaryTitle(id) {
  return store.dictionaries.find((d) => d.id === id).title
}
</script>

<style></style>
