<template>
  <div class="definition-card">
    <div class="definition-header">
      <span>
        <a rel="nofollow" target="_blank" :href="wikisourceTitleLink">
          <i>{{ props.dictionary.title }}</i> </a
        >, {{ reference }}</span
      >
      <CdxMenuButton
        v-model:selected="menuSelection"
        aria-label="Voir plus d'options"
        :menu-items="menuItems"
        @update:selected="onSelectOption"
      >
        <CdxIcon :icon="cdxIconEllipsis" />
      </CdxMenuButton>
      <ReportProblemDialog
        :open="openDialog === 'problem'"
        :entry-id="entryId"
        @close-dialog="openDialog = ''"
      />
    </div>
    <div v-if="error" class="error">
      <CdxIcon :icon="cdxIconAlert" />
      Une erreur est survenue lors du chargement de cette définition. Cette page utilise
      probablement une mise en forme obsolète.
      <a rel="nofollow" target="_blank" :href="wikisourceLink"> Voir la page sur Wikisource </a>
    </div>
    <div v-else style="position: relative; padding: 0.5em 1em 0.5em 1em">
      <div style="display: flex; justify-content: space-evenly; background: #f4f5f6">
        <CdxButton
          v-if="prev"
          v-tooltip="'Rechercher le mot précédent de ce dictionnaire'"
          weight="quiet"
          :disabled="prev.toLowerCase() === store.lastSearch.word.toLowerCase()"
          @click="goToWord(prev)"
        >
          <CdxIcon :icon="cdxIconArrowPrevious" />
          {{ prev }}
        </CdxButton>
        <CdxButton
          v-if="next"
          v-tooltip="'Rechercher le mot suivant de ce dictionnaire'"
          weight="quiet"
          :disabled="next.toLowerCase() === store.lastSearch.word.toLowerCase()"
          @click="goToWord(next)"
        >
          {{ next }}
          <CdxIcon :icon="cdxIconArrowNext" />
        </CdxButton>
      </div>
      <div v-html="displayedHTML"></div>
      <div v-if="collapsible">
        <CdxButton weight="quiet" @click="toggleCollapse()">
          <template v-if="collapsed">
            <CdxIcon :icon="cdxIconExpand" /> Dérouler le texte
          </template>
          <template v-else> <CdxIcon :icon="cdxIconCollapse" /> Enrouler le texte </template>
        </CdxButton>
      </div>
      <div class="wikisource-link">
        <a rel="nofollow" target="_blank" :href="wikisourceLink">Voir la page sur Wikisource</a>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useDicothequeStore } from '../stores/dicotheque'
import Session from 'm3api/browser'
import { CdxButton, CdxIcon, CdxMenuButton } from '@wikimedia/codex'
import {
  cdxIconArrowNext,
  cdxIconArrowPrevious,
  cdxIconAlert,
  cdxIconEllipsis,
  //cdxIconReference,
  //cdxIconLogoWiktionary,
  cdxIconFeedback,
  cdxIconExpand,
  cdxIconCollapse,
} from '@wikimedia/codex-icons'
import ellipsis from 'html-ellipsis'
import ReportProblemDialog from './ReportProblemDialog.vue'
import { computed, ref } from 'vue'

const props = defineProps({
  entryId: {
    type: Number,
    required: true,
  },
  pagename: {
    type: String,
    required: true,
  },
  dictionary: {
    type: Object,
    required: true,
  },
})
const emit = defineEmits(['go-to-word'])

const menuItems = [
  // { label: 'Citer ce texte', value: 'cite', icon: cdxIconReference },
  /*{
    label: 'Citer ce texte dans le Wiktionnaire',
    value: 'cite-wiktionary',
    icon: cdxIconLogoWiktionary,
  },*/
  { label: 'Signaler un problème', value: 'problem', icon: cdxIconFeedback },
]
const menuSelection = ref(null)
const openDialog = ref('')
function onSelectOption(newSelection) {
  openDialog.value = newSelection
  menuSelection.value = null
}

const params = {
  action: 'parse',
  format: 'json',
  page: props.pagename,
  prop: ['text'],
}

const store = useDicothequeStore()
const api = new Session(
  'fr.wikisource.org',
  {
    formatversion: 2,
    errorformat: 'plaintext',
    origin: '*',
  },
  {
    userAgent: 'Dicothèque / User:Poslovitch',
  },
)

const wikisourceLink = 'https://fr.wikisource.org/wiki/' + props.pagename
const wikisourceTitleLink = 'https://fr.wikisource.org/wiki/' + props.dictionary.wikisource

const content = ref('')
const response = await api.request(params)
content.value = response.parse.text

const parser = new DOMParser()
const htmlDoc = parser.parseFromString(content.value, 'text/html')

let reference = ''
let error = false
let prev = ''
let next = ''
let length = 0

const MAX_LENGTH = 1000

const collapsible = computed(() => length > MAX_LENGTH)
const collapsed = ref(true)
const displayedHTML = computed(() => {
  return collapsible.value && collapsed.value
    ? ellipsis(content.value, MAX_LENGTH, false)
    : content.value
})

try {
  // FIXME: handle this better
  reference = htmlDoc.getElementsByClassName('headertemplate-reference')[0].outerText
  const previousSpan = htmlDoc.getElementById('headerprevious')
  if (previousSpan) {
    prev = previousSpan.childNodes[1].outerText // get the text of the span containing the link
  }
  const nextSpan = htmlDoc.getElementById('headernext')
  if (nextSpan) {
    next = nextSpan.childNodes[0].outerText // get the text of the span containing the link
  }

  const header = htmlDoc.querySelector('div[itemscope]') // get the div that contains the header
  header.remove() // remove it

  content.value = htmlDoc.getElementsByClassName('prp-pages-output')[0].innerHTML // override the content with the actual page content
  length = htmlDoc.getElementsByClassName('prp-pages-output')[0].innerText.length
} catch (e) {
  console.log('Got an error when parsing: ' + props.pagename)
  console.log(e)
  error = true
  content.value = ''
}

function goToWord(newWord) {
  store.word = newWord
  emit('go-to-word')
}

function toggleCollapse() {
  collapsed.value = !collapsed.value
  console.log(collapsed.value)
}
</script>

<style scoped>
.error {
  background: #ffcba4;
  padding: 0.5em 1em 0.5em 1em;
}

.error a {
  font-style: italic;
  float: right;
}

.definition-card {
  min-height: fit-content;
  box-shadow: 0 0 0.2em #999999;
  border-radius: 0.2em;
  margin: 0.5em 0.5em 1em 0.5em;
  background: #f8f9fa;
}

.definition-header {
  background: #eaecf0;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.5em 1em 0.5em 1em;
}

.definition-header > span {
  color: #000000;
  font-weight: bold;
}

.wikisource-link {
  text-align: right;
  font-style: italic;
}
</style>
