<template>
  <div class="definition-card">
    <div class="definition-header"><span /></div>
    <div style="position: relative; padding: 0.5em 1em 0.5em 1em">
      <div style="display: flex; justify-content: space-evenly; background: #f4f5f6"></div>
      <div class="definition-content">
        <p style="width: 97%" />
        <p style="width: 100%" />
        <p style="width: 75%; margin-bottom: 1em" />
        <p style="width: 100%" />
        <p style="width: 98%" />
        <p style="width: 100%" />
        <p style="width: 34%" />
      </div>
      <div class="wikisource-link"><span /></div>
    </div>
  </div>
</template>

<style scoped>
.definition-card {
  height: 24em;
  width: 48%;
  box-shadow: 0 0 0.2em #999999;
  border-radius: 0.2em;
  margin: 0.5em 0.5em 1em 0.5em;
  background: #f8f9fa;
}

.definition-header {
  height: 2em;
  background: #eaecf0;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.5em 1em 0.5em 1em;
}

.definition-header span {
  width: 100%;
}

span {
  height: calc(2 * var(--fbc-font-size));
  display: inline-block;
  animation: pulse-bg 1s infinite;
}

p {
  height: calc(1.5 * var(--fbc-font-size));
  display: inline-block;
  margin: 0;
  animation: pulse-bg 1s infinite;
}

.wikisource-link {
  text-align: right;
}

.wikisource-link span {
  width: 30%;
}
</style>

<style>
@keyframes pulse-bg {
  0% {
    background-color: #ddd;
  }
  50% {
    background-color: #d0d0d0;
  }
  100% {
    background-color: #ddd;
  }
}
</style>
