<template>
  <div style="padding: 1em">
    <div style="display: flex; justify-content: space-between">
      <label for="timebar-min">
        Min
        <input id="timebar-min" v-model="activeMinYear" type="number" />
      </label>
      <label for="timebar-max">
        Max
        <input id="timebar-max" v-model="activeMaxYear" type="number" />
      </label>
    </div>
    <div style="display: flex">
      <span>{{ minYear }}</span>
      <div style="flex: 1">
        <div class="timebar">
          <div
            class="timebar active"
            :style="{
              left: ((activeMinYear - minYear) / (maxYear - minYear)) * 100 + '%',
              right: 100 - ((activeMaxYear - minYear) / (maxYear - minYear)) * 100 + '%',
            }"
          ></div>
        </div>
        <div id="dico-timeline-range-input" style="position: relative">
          <input
            id="dico-timeline-range-min"
            v-model="activeMinYear"
            type="range"
            :min="minYear"
            :max="maxYear"
            @input="onSliderChange($event)"
          />
          <input
            id="dico-timeline-range-max"
            v-model="activeMaxYear"
            type="range"
            :min="minYear"
            :max="maxYear"
            @input="onSliderChange($event)"
          />
        </div>
      </div>
      <span>{{ maxYear }}</span>
    </div>
    <div class="timeline">
      <div
        v-for="dictionary of dictionaries"
        :key="dictionary.wikidata"
        :title="dictionary.title"
        :class="dictionary.available ? 'active' : ''"
        :style="{ left: ((dictionary.date - minYear) / (maxYear - minYear)) * 100 + '%' }"
      ></div>
    </div>
  </div>
</template>

<script setup>
import { ref, watch } from 'vue'

const props = defineProps({
  dictionaries: {
    type: Array,
    required: true,
  },
})

const minYear = ref(parseInt(props.dictionaries[0].date))
const maxYear = ref(parseInt(props.dictionaries[props.dictionaries.length - 1].date))

const activeMinYear = ref(minYear.value)
const activeMaxYear = ref(maxYear.value)

function onSliderChange(event) {
  const gap = 2

  // Prevent sliders from moving into one another
  if (activeMaxYear.value - activeMinYear.value <= gap) {
    if (event.target.id === 'dico-timeline-range-max') {
      activeMaxYear.value = activeMinYear.value + gap
      event.target.value = activeMaxYear.value
    } else {
      activeMinYear.value = activeMaxYear.value - gap
      event.target.value = activeMinYear.value
    }
  }

  updateDictionariesAvailability()
}

function updateDictionariesAvailability() {
  for (const dictionary of props.dictionaries) {
    const date = parseInt(dictionary.date)
    dictionary.available = date >= activeMinYear.value && date <= activeMaxYear.value
  }
}

watch(activeMinYear, () => updateDictionariesAvailability())
watch(activeMaxYear, () => updateDictionariesAvailability())
</script>

<style scoped>
input[type='number'] {
  max-width: 4em;
  -moz-appearance: textfield;
}

input[type='range'] {
  position: absolute;
  height: 5px;
  border-radius: 5px;
  width: 100%;
  background: none;
  appearance: none;
  z-index: 2;
}

.timebar {
  height: 5px;
  top: 5px;
  border-radius: 5px;
  background: #ddd;
  position: relative;
}

.timebar.active {
  top: 0px;
  position: absolute;
  background-color: #2a4b8d;
  left: 0%;
  right: 0%;
}

.timeline {
  height: 15px;
  position: relative;
  margin-left: 3em;
  margin-right: 3em;
}

.timeline > div {
  position: absolute;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  background-color: #ddd;
}

.timeline > div.active {
  background-color: #2a4b8d;
}
</style>
