<template>
  <div>
    <span>Dictionnaires ({{ props.availableDictionaries.length }})</span>
    <CdxButtonGroup :buttons="buttons" @click="setEnabledForAllDictionaries" />
    <hr />
    <ul>
      <li v-for="dictionary in props.availableDictionaries" :key="dictionary.wikidata">
        <DictionaryPickerItem :dictionary="dictionary" />
      </li>
    </ul>
  </div>
</template>

<script setup>
import { CdxButtonGroup } from '@wikimedia/codex'
import { cdxIconCheckAll } from '@wikimedia/codex-icons'
import DictionaryPickerItem from './DictionaryPickerItem.vue'

const props = defineProps({
  availableDictionaries: {
    type: Array,
    required: true,
  },
})

const buttons = [
  { value: true, label: 'Tout cocher', icon: cdxIconCheckAll },
  { value: false, label: 'Tout décocher', icon: cdxIconCheckAll },
]

function setEnabledForAllDictionaries(value) {
  for (const dictionary of props.availableDictionaries) {
    dictionary.enabled = value
  }
}
</script>

<style scoped>
div {
  background: #eeeeee;
  border-radius: 5px;
  padding: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
}

div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div ul li {
  background: #dddddd;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
</style>
