<template>
  <div v-if="error" style="background: #ffcba4; padding: 0.5em 1em 0.5em 1em">
    <CdxIcon :icon="cdxIconAlert" />
    Données manquantes : {{ missingValuesText }}
  </div>
  <input
    :id="'dictionary-picker-' + dictionary.wikidata"
    type="checkbox"
    :checked="dictionary.enabled"
    @click="dictionary.enabled = !dictionary.enabled"
  />
  <span
    v-if="dictionary.title"
    style="text-align: left"
    :for="'dictionary-picker-' + dictionary.wikidata"
  >
    <span v-for="author in dictionary.authors" :key="author"
      >{{ store.labels[author] ? store.labels[author] : author }},
    </span>
    <a rel="nofollow" target="_blank" :href="wikisourceLink">{{ dictionary.title }}</a
    >,
    <span v-for="publisher in dictionary.publishers" :key="publisher"
      >{{ store.labels[publisher] ? store.labels[publisher] : publisher }},
    </span>
    <span v-for="publicationPlace in dictionary.publicationPlaces" :key="publicationPlace"
      >{{ store.labels[publicationPlace] }},
    </span>
    {{ dictionary.date }}
  </span>
  <span v-else>{{ dictionary.wikidata }}</span>
  <div style="text-align: right; font-size: 0.8em">
    (<span v-if="dictionary.wikisource_progress === 'proofread'">Relecture en validation</span>
    <span v-else-if="dictionary.wikisource_progress === 'validated'">Relecture complète</span>
    <span v-else>Relecture partielle</span>,

    <a rel="nofollow" target="_blank" :href="wikidataLink">édition</a
    ><span v-if="dictionary.work"
      >, <a rel="nofollow" target="_blank" :href="workWikidataLink">œuvre</a></span
    >)
  </div>
</template>

<script setup>
import { CdxIcon } from '@wikimedia/codex'
import { cdxIconAlert } from '@wikimedia/codex-icons'
import { useDicothequeStore } from '@/stores/dicotheque'
const store = useDicothequeStore()

const props = defineProps({
  dictionary: {
    type: Object,
    required: true,
  },
})

const missingValues = props.dictionary.missing
const error = missingValues.length !== 0
const missingValuesText = missingValues.join(', ')
const wikidataLink = 'https://www.wikidata.org/wiki/' + props.dictionary.wikidata
const workWikidataLink = 'https://www.wikidata.org/wiki/' + props.dictionary.work
const wikisourceLink = 'https://fr.wikisource.org/wiki/' + props.dictionary.wikisource
</script>
