<template>
  <input
    :id="'filter-picker-' + filter.qid"
    type="checkbox"
    :checked="filter.active"
    @click="filter.active = !filter.active"
  />
  <span :for="'filter-picker-' + filter.qid" :class="availableCount === 0 ? 'inactive' : ''">
    {{
      store.labels[filter.qid]
        ? store.labels[filter.qid]
        : filter.qid === undefined
          ? filter.name
          : filter.qid
    }}
    ({{ availableCount }})
  </span>
</template>

<script setup>
import { useDicothequeStore } from '@/stores/dicotheque'
const store = useDicothequeStore()

defineProps({
  filter: {
    type: Object, //{ name: String, active: Boolean },
    required: true,
  },
  availableCount: {
    type: Number,
    required: true,
  },
})
</script>

<style scoped>
span {
  text-align: left;
}

span.inactive {
  text-decoration: line-through;
  font-style: italic;
  color: #555;
}
</style>
