<template>
  <div>
    <span>Filtres</span>
    <hr />
    <span>Langues décrites ou de description</span>
    <CdxButtonGroup :buttons="buttons" @click="toggleFilters(store.filters.languages, $event)" />
    <ul>
      <template
        v-for="(language, index) of orderFilters(store.filters.languages, alphabeticalOrder)"
        :key="index"
      >
        <li v-if="isFilterVisible(language, (d) => d.language)">
          <FilterPickerItem
            :filter="language"
            :available-count="
              getDictionariesCount(props.availableDictionaries, language, (d) => d.language)
            "
          /></li
      ></template>
    </ul>
    <span>Genres</span>
    <CdxButtonGroup :buttons="buttons" @click="toggleFilters(store.filters.genres, $event)" />
    <ul>
      <template
        v-for="(genre, index) of orderFilters(store.filters.genres, alphabeticalOrder)"
        :key="index"
      >
        <li v-if="isFilterVisible(genre, (d) => d.genre)">
          <FilterPickerItem
            :filter="genre"
            :available-count="
              getDictionariesCount(props.availableDictionaries, genre, (d) => d.genre)
            "
          />
        </li>
      </template>
    </ul>
    <span>Sujets</span>
    <CdxButtonGroup :buttons="buttons" @click="toggleFilters(store.filters.subjects, $event)" />
    <ul>
      <template
        v-for="(subject, index) of orderFilters(store.filters.subjects, alphabeticalOrder)"
        :key="index"
      >
        <li v-if="isFilterVisible(subject, (d) => d.subject)">
          <FilterPickerItem
            :filter="subject"
            :available-count="
              getDictionariesCount(props.availableDictionaries, subject, (d) => d.subject)
            "
          /></li
      ></template>
    </ul>
  </div>
</template>

<script setup>
import { CdxButtonGroup } from '@wikimedia/codex'
import { cdxIconCheckAll } from '@wikimedia/codex-icons'
import FilterPickerItem from './FilterPickerItem.vue'
import { useDicothequeStore } from '@/stores/dicotheque'

const props = defineProps({
  dictionaries: {
    type: Array,
    required: true,
  },
  availableDictionaries: {
    type: Array,
    required: true,
  },
})

const store = useDicothequeStore()

const buttons = [
  { value: true, label: 'Tout cocher', icon: cdxIconCheckAll },
  { value: false, label: 'Tout décocher', icon: cdxIconCheckAll },
]

function getDictionariesCount(dictionaries, filter, dictionaryTransform) {
  return dictionaries.map(dictionaryTransform).filter((values) => values.indexOf(filter.qid) !== -1)
    .length
}
function toggleFilters(filterCategory, value) {
  filterCategory.forEach((f) => (f.active = value))
}
function orderFilters(filterCategory, order) {
  return filterCategory.sort((a, b) => order(store.labels[a], store.labels[b]))
}
function alphabeticalOrder(a, b) {
  return a === 'Non précisé' || a === 'Non précisée' || a === undefined
    ? -1
    : a.localeCompare(b, 'fr')
}
function isFilterVisible(filter, dictionaryTransform) {
  return (
    props.dictionaries
      .map(dictionaryTransform)
      .filter((values) => values.indexOf(filter.qid) !== -1).length !== 0
  )
}
</script>

<style scoped>
div {
  background: #eeeeee;
  border-radius: 5px;
  padding: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
}

div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div ul li {
  background: #dddddd;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
</style>
