<template>
  <CdxDialog
    :open="open"
    title="Signaler un problème"
    subtitle="Remplissez le formulaire"
    :use-close-button="true"
    @update:open="emit('close-dialog')"
  >
    Il n'y a rien par ici... Juste un nombre : {{ entryId }}.
    <template #footer>
      <CdxButton weight="primary" action="progressive" @click="nextStep()">
        Passer à l'étape suivante <CdxIcon :icon="cdxIconNext" />
      </CdxButton>
    </template>
  </CdxDialog>
</template>

<script setup>
import { CdxButton, CdxDialog, CdxIcon } from '@wikimedia/codex'
import { cdxIconNext } from '@wikimedia/codex-icons'
import { ref } from 'vue'

const props = defineProps({
  open: {
    type: Boolean,
    required: true,
  },
  entryId: {
    type: Number,
    required: true,
  },
})
const emit = defineEmits(['close-dialog'])

const currentStep = ref(0)

function nextStep() {}
</script>

<style>
footer {
  display: flex;
  align-items: baseline;
  justify-content: end;
}
</style>
