<template>
  <div id="search-panel">
    <CdxSearchInput
      v-model="store.word"
      placeholder="Entrez votre recherche"
      clearable
      button-label="Rechercher"
      @submit-click="launchSearch"
    ></CdxSearchInput>
    <div id="search-options">
      <CdxMessage v-if="showWarningMessage" type="warning" inline fade-in>
        Cette recherche peut ralentir votre navigateur en affichant beaucoup de résultats. Si vous
        souhaitez tout de même l’effectuer, cliquez une nouvelle fois sur <i>Rechercher</i>.
      </CdxMessage>
      <p>Pas d’idée ? Essayez <i>boutisse</i>, <i>piscine</i> ou <i>retard</i>&nbsp;!</p>
      <CdxCheckbox v-model="store.strictSearch">
        Recherche stricte
        <template #description>
          N’afficher que les résultats dont la graphie correspond exactement à la graphie
          recherchée,<br />sans prendre en compte la casse.
        </template>
      </CdxCheckbox>
    </div>
  </div>
</template>

<script setup>
import { CdxSearchInput, CdxCheckbox, CdxMessage } from '@wikimedia/codex'
import { useDicothequeStore } from '@/stores/dicotheque'
import { ref } from 'vue'

const emit = defineEmits(['update'])
const store = useDicothequeStore()

let doubleCheck = false
const showWarningMessage = ref(false)

function launchSearch() {
  // prevent searching immediatly if the search is not strict and the searched string is small
  // as it can cause serious slowdown of the web browser due to a potentially huge amount of entries to show
  if (!store.strictSearch && store.word.length < 3) {
    if (!doubleCheck) {
      showWarningMessage.value = true
      doubleCheck = true
      return // do not launch the search now, wait for the double check
    }
  }
  // revert the values back to false as the user may have changed the small string to a bigger one
  showWarningMessage.value = false
  doubleCheck = false

  emit('update')
}
</script>

<style scoped>
#search-panel {
  background: #2a4b8d;
  border-radius: 5px;
  padding: 5px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  margin: 0 6em 0 6em;
}

#search-options {
  background: #eee;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

p {
  padding-left: 29px;
}
</style>
