<template>
  <div>
    <span>{{ label }}</span>
    <span style="font-size: xx-large; font-weight: bolder; text-align: center">
      <template v-if="value">{{ value }}</template>
      <template v-else>…</template>
    </span>
  </div>
</template>

<script setup>
defineProps({
  label: {
    type: String,
    required: true,
  },
  value: {
    type: Number,
    required: true,
  },
})
</script>

<style scoped>
div {
  border: #2a4b8d 5px solid;
  display: flex;
  flex-direction: column;
  padding: 2em;
  background: #eeeeee;
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
}
</style>
