<template>
  <header>
    <div class="dicotheque-logo">
      <h1>
        <RouterLink to="/">
          <img
            src="../assets/logo.svg"
            alt="Lettre D stylisée dans un cercle bleu"
            title="Logo de la Dicothèque"
            style="vertical-align: text-top"
          />Dicothèque
        </RouterLink>
      </h1>
      <span>Comparez les entrées des dictionnaires</span>
    </div>
    <nav>
      <ul>
        <li><RouterLink to="/about">À propos</RouterLink></li>
        <li><RouterLink to="/statistics">Statistiques</RouterLink></li>
        <li><RouterLink to="/contact">Contact</RouterLink></li>
        <li>
          <a href="https://gitlab.wikimedia.org/poslovitch/dicotheque" target="_blank"
            >Code source <CdxIcon :icon="cdxIconLinkExternal"
          /></a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <RouterView v-slot="{ Component }">
      <template v-if="Component">
        <Transition mode="out-in">
          <KeepAlive>
            <Suspense>
              <!-- contenu principal -->
              <component :is="Component"></component>

              <!-- état de chargement -->
              <template #fallback> Loading... </template>
            </Suspense>
          </KeepAlive>
        </Transition>
      </template>
    </RouterView>
  </main>
</template>

<script setup>
import { CdxIcon } from '@wikimedia/codex'
import { cdxIconLinkExternal } from '@wikimedia/codex-icons'
</script>

<style>
@import '@wikimedia/codex/dist/codex.style.css';

@font-face {
  font-family: Bentham;
  src: url('/fonts/Bentham-Regular.ttf');
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: #2a4b8d;
}

a:visited {
  color: #5f6c87;
}

h1 {
  color: #2a4b8d;
  font-family: Bentham;
  font-size: 3.1vw;
  margin: 0;
}

h1 img {
  max-width: 3.1vw;
  padding-right: 0.25em;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h1 a:visited {
  color: inherit;
}

.dicotheque-logo {
  margin-bottom: 0.5vw;
}

.dicotheque-logo span {
  font-size: 0.97vw;
}

nav {
  display: flex;
  align-items: center;
}

nav > ul {
  list-style: none;
  padding: 0;
}

nav > ul > li {
  padding: 0em 2em 0em 2em;
  display: inline;
}

nav > ul > li > a {
  border-bottom: solid #2a4b8d 4px;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

nav > ul > li > a:hover {
  border-bottom: solid #8d6c2a 8px;
}

nav > ul > li > a:visited {
  color: inherit;
}

.router-link-active {
  font-weight: bold;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* 
 * French Wikisource applies these classes instead of the proper CSS property.
 */
.sc,
.sct {
  font-variant: small-caps;
}
.sct {
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
}

.markdown-body {
  margin: auto 25% auto 25%;
}
</style>
